body{background: black;color: white;}
h2{text-align: center;}
form{margin-left: 200px;}
input,textarea{width: 300px;height: 20px;;margin-bottom: 10px;}
textarea{height: 150px;}
.blockInput{text-align: left;}
.blockInput label{display:block;}
input[type="submit"]{cursor: pointer;}